@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 3000px;
}/* body 값에는 원래 높이 설정 안함 수업때문에 임이로 함 */

.position{
    width: 400px;
    height: 400px;
    background-color: aqua;
    margin: 50px auto;
    
    position: relative;
    top: 150px;
    
}
.position div{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    
    
}
.position div:nth-child(1){
    background-color: bisque;
    position: absolute;
    top: 0;
    right: 0;
}/* top, right, bottom, left */

.position div:nth-child(2){
    background-color: aquamarine;
    position: absolute;
    bottom: 0;
    right: 0;
}
.position div:nth-child(3){
    background-color: blueviolet;
    position: absolute;
    bottom: -100px;
    left: 0;
}

.position div:nth-child(4){
    background-color: rgb(255, 205, 240);
    position: absolute;
    bottom: 0;
    left: 0;
}

.position div:nth-child(5){
    background-color: brown;
    position: absolute;
    left: 0;
    top: -100px;
}

.position div:nth-child(6){
    background-color: salmon;
    position: fixed;
    right: 100px;
    bottom: 100px;
}

.position div:nth-child(7){
    position: sticky;
    top: 50px;
    background-color: yellowgreen;
}

.list{
    background-color: chartreuse;
    width: 800px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}  
.list .item{
    width: 380px;
   position: relative;



}
.list .item img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
}

.list .item .text{
    width: 100%;
    
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    background-color: violet;
    text-align: center;
}

.list-02{
    width: 1280px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
   
  

}

.list-02 .item{
    width: 300px;  
   position: relative;
   display: block;
      
}
.list-02 .item img{
    width: 100%; 
    height: 300px;
    border-radius: 50%;
}

.list-02 .item p{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;   
 /*    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  
    color: aliceblue;
}